<h1>Burgers!</h1>

<ol>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
        {{/unless}}
    {{/each}}

</ol>

<ol>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devour=false}}
        {{/if}}
    {{/each}}
</ol>

<h2>Add a Burger</h2>

<form class="create-form">

    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="not devoured" value="0"> Not Devoured <br>

    </div>

    <button type="submit">Add Burger</button>

</form>