<li>
    {{burger_name}}

    <button class="btn btn-primary" id="change-devour" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#unless devoured}}Devour{{/unless}}
        {{!-- {{#if devoured}}Devoured!{{else}}Devour{{/if}} --}}
    </button>


</li>

